* {
  margin: 0;
  padding: 0; }

header {
  background-color: blue;
  height: 50px; }
  header nav {
    text-align: center; }
    header nav a {
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      color: white;
      padding: 5px; }
      header nav a:hover {
        color: red; }
